.Search {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin: 0 5%;
}

.Search__title {
  margin-right: 1%;
}

.Search__InputWrapper {
  align-items: center;
  display: flex;
  height: 50px;
  min-width: 200px;
  position: relative;
  width: 40%;
}

.Search__Input {
  height: 60%;
  width: 100%;
}

.Search__icon {
  background: #fff;
  cursor: pointer;
  height: 50%;
  position: absolute;
  right: 10px;
  top: 25%;
}